<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/images.css" class="rel">
    <div class="row">
        <h1 class="text-center">Edit hotel</h1>
        <div class="col-6 offset-3">
            <form action="/hotels/<%= hotel._id %>?_method=PUT" method="POST" class="needs-validation" novalidate
                enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title:</label>
                    <input class="form-control" type="text" id="title" name="hotel[title]" value="<%= hotel.title %>"
                        required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location:</label>
                    <input class="form-control" type="text" id="location" name="hotel[location]"
                        value="<%= hotel.location %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <label class="form-label" for="price">Price:</label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="price">$</span>
                    <input type="text" class="form-control" name="hotel[price]" id="price"
                        placeholder="Enter price without comma" aria-label="price" aria-describedby="price"
                        value="<%= hotel.price %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description:</label>
                    <textarea class="form-control" type="text" id="description" name="hotel[description]"
                        required><%= hotel.description %></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Choose Image(s):</label>
                    <div class="form-file custom-file">
                        <input class="form-control custom-file-input" type="file" id="image" name="image" multiple
                            onchange="previewMultiple(event)">
                        <label for="image" class="form-label custom-file-label"></label>
                    </div>
                    <div id="formFile"></div>
                </div>
                <div class="row row-cols-1 row-cols-md-4 g-4 mb-3">
                    <% hotel.images.forEach((image, i)=> { %>
                        <div class="col">
                            <div class="card">
                                <img class="card-img" src="<%= image.url %>" alt="">
                                <div class="card-img-overlay text-end pt-1 pe-2">
                                    <label class="visually-hidden" for="image-<%= i %>">Delete Image</label>
                                    <input class="form-check-input" type="checkbox" name="deleteImages[]"
                                        value="<%= image.filename %>" id="image-<%= i %>">
                                </div>
                            </div>
                        </div>
                        <% }) %>
                </div>
                <button class="btn btn-success mb-3">Update Hotel</button>
            </form>
        </div>
    </div>
    <div><a href="/hotels/<%= hotel._id %>">Back to <%= hotel.title %></a></div>